<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Victor Tomilin | Personal web site</title>
  <meta name="description" content="Personal web site">
  <meta name="author" content="Victor Tomilin">
  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>

<body>
  <h2>hello! i am</h2>
  <h1>victor tomilin</h1>
  <h2>software engineer</h2>
</body>
</html>
